body {
  background-color: #090b1a;
  color: #fff;
  min-height: 40rem;
  min-width: 80rem;
}
main {
  display: flex;
  height: 100vh;
  margin: auto;
  min-height: 40rem;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
  line-height: 2.7rem;
  margin-bottom: 1.65rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
​p {
  font-size: 0.9375rem;
}
​.container {
  background-color: #1b1938;
  border-radius: 0.5rem;
  display: flex;
  height: 27.875rem;
  margin: auto;
  width: 69.375rem;
}

.txt {
  padding: 4.43rem 0 4rem 4.5rem;
  width: 21.9rem;
}
.stats {
  color: #fff;
  display: flex;
  margin: 4.7rem auto 3.92rem;
}
.stats-header {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.stats-txt {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  margin-top: 0.6rem;
  opacity: 0.6;
  text-transform: uppercase;
  width: 9rem;
}
.item:nth-child(3) {
  margin-left: -0.2rem;
}
.image-header-desktop {
  background-image: url("https://dimmageiras.github.io/frontend-mentor-stats-preview-card-component/Images/image-header-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 27.875rem;
  margin-left: 6.4rem;
  width: 33.75rem;
}

.image-header-desktop::after {
  border-radius: 0 0.5rem 0.5rem 0;
  content: "";
  height: 27.875rem;
  opacity: 0.5;
  position: absolute;
  width: 33.75rem;
}
.color-overlay {
  border-radius: 0 0.5rem 0.5rem 0;
  height: 27.875rem;
  mix-blend-mode: difference;
  opacity: 0.1;
  position: absolute;
  width: 33.75rem;
}

@media only screen and (max-width: 30rem) {
  body {
    min-width: 100%;
  }

  main {
    margin: 5.5rem auto;
    min-height: 48.75rem;
  }

  h1 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
    line-height: 2rem;
    margin: 0.7rem auto 0.7rem -0.1rem;
  }

  .container {
    display: block;
    height: 48.75rem;
    min-height: 48.75rem;
    min-width: 20.438rem;
    position: relative;
    width: 20.438rem;
  }

  .txt {
    left: 0;
    margin: 16.8rem auto auto 1.84rem;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 17rem;
  }

  .info {
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.018rem;
    line-height: 1.58rem;
    margin: 1rem auto auto -0.17rem;
    width: 17rem;
  }

  .stats {
    flex-direction: column;
    margin: 2.6rem auto auto -0.5rem;
  }

  .item:nth-child(2) {
    margin-top: -0.8rem;
  }

  .item:nth-child(3) {
    margin: -0.7rem 0 0;
  }

  .stats-header {
    margin: 0 0 0 0.2rem;
  }

  .stats-txt {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.03rem;
    margin: 0.66rem 0 2.8rem 0.1rem;
    width: auto;
  }

  .image-header-desktop {
    background-image: url("https://dimmageiras.github.io/frontend-mentor-stats-preview-card-component/Images/image-header-mobile.jpg");
    border-radius: 0.5rem 0.5rem 0 0;
    height: 15rem;
    margin: 0;
    width: 20.438rem;
  }

  .image-header-desktop::after {
    border-radius: 0.5rem 0.5rem 0 0;
    height: 15rem;
    width: 20.438rem;
  }

  .color-overlay {
    border-radius: 0.5rem 0.5rem 0 0;
    height: 15rem;
    width: 20.438rem;
  }
}
